@model SistemaMatriculacion.Models.SECCION_MATERIA

@{
    ViewBag.Title = "Creacion de horarios";
}

<h2>Crear Horarios</h2>

<script>alert("Ya existe otra materia en este horario para esta seccion ") 
    location.href = "/Seccion_materia/Create"
    </script>

