@model SistemaMatriculacion.Models.SECCION_MATERIA

@{
    ViewBag.Title = "Error";
}

<h2>Crear Horarios</h2>

<div class="container">
    <h2>Alerts</h2>
    <div class="alert alert-success">
        <strong>Success!</strong> This alert box could indicate a successful or positive action.
    </div>
    </div>

    <script>
    alert("Ya existe otra materia en este horario para esta seccion o este profesor ya tiene otro curso asignado en este horario, corrija los datos y vuelva a intentar")
        location.href = "/Seccion_materia/Create"
    </script>

